{% extends 'websites_monitoring/bootstrap.html' %}

{% block bootstrap3_content %}
      <nav class="navbar navbar-default">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li role="presentation" >
                        <a href="/sites">Sites</a>
                </li>
                <li class="active" role="presentation" >
                        <a href="/summary">Summary</a>
                </li>
            </ul>
          </div>
      </nav>


    <div class="container">
        <h1>Site Details - Demo Site</h1>

        <table class="table">
            <thead>
                <tr><td><strong>Date</strong></td>
                <td><strong>A Value</strong></td><td><strong>B Value</strong></td></tr>
            </thead>
            {% for key, value in date_values_dictionnary.iteritems %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value.a}}</td>
                    <td>{{value.b}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}